<div class="header">
    <div class="logodiv">
        <span>
            <a routerLink="/">
                <img class="logo" src="../../../../assets/img/logo.jpg" alt="logo">
            </a>
        </span>
    </div>
    <div class="nav">
        <span>
            <a href="">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
        </span>
        <span>
            <a href="/" onclick="javascript:window.localStorage.removeItem('token'); return true;">
                <i class="material-icons">
                    logout
                </i>
                Sair
            </a>
        </span>
    </div>
    <div class="profile">
        <span>
            <a>
                <img src="../../../../assets/img/blank.jpg" alt="profile photo">
            </a>
        </span>
    </div>
</div>
