<h2>Registrar</h2>
<form>
        <input matInput placeholder="Nome" [(ngModel)]="signup.username" name="username" required>
    
        <input matInput placeholder="Email" [(ngModel)]="signup.email" name="email" required>
    
        <input matInput type="password" placeholder="Senha"  [(ngModel)]="signup.password" name="password" required>
    
        <input matInput type="password" placeholder="Repita a Senha"  name="senha2" required>
    
</form>
<button mat-raised-button (click)="doSignup()" class="btn-primary">
    Registrar
</button>
<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
