<h2>Registrar</h2>
<form>
    <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="signup.username" name="username" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="signup.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Senha"  [(ngModel)]="signup.password" name="password" required>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Repita a Senha"  name="senha2" required>
    </mat-form-field>
</form>
<button mat-raised-button (click)="doSignup()" color="primary" >
    Registrar
</button>
<button mat-raised-button (click)="cancel()">
    Cancelar
</button>
